{% extends 'base.html'%}

{% block content %}
<style>
      #btn1{
        background-color:  rgb(231, 170, 170);
        color: white;

      }
      #btn2{
        background-color:  gray;
        color: white;
      }
      #title{
        color: black;
        font-weight: bold;
      }
      body{
        background-color: rgba(224, 188, 193, 0.925);
      }
</style>
<div class="container">
    <div class='col-md-8'>
      <h2><strong>{{user.username| capitalize}}</strong></h2>
        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input class='form-control' type="file"  name="photo" required><br>
      <button class='btn' type="submit">Submit</button>
    </form><br>
      {% endif %}
    {% if user.bio %}
      {{user.bio}}
    {%else%}
      You have no bio
    {% endif %}
    <p><strong>{{user.blogs.count()}}</strong> posts</p>
    <button class='btn btn-basic'><a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a></button>
    </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>My blogs</strong></div>
        <div class="panel-body">
          {% if user.blogs %}
          {% for blog in user.blogs %}
            <div>
              <strong><a id="title" href="{{url_for('main.blog',id = blog.id)}}"><h5>{{blog.title}}</h5><hr></a></strong>
              <p >{{blog.content|safe|truncate(30)}}</p>
              <a href="{{url_for('main.update_post',blog_id = blog.id)}}"><button id="btn1" class='btn success'>Edit</button></a>
              <a href="{{url_for('main.delete',blog_id = blog.id)}}"><button id="btn2" class='btn danger'>Delete</button></a>
            </div>
          {% endfor %}
        </div>
      </div>
          {% else %}
          <button class="btn btn-outline-info"><a href="{{url_for('main.new_blog')}}"><i class="fas fa-plus"></i> Blog something</a></button></br><br>
          {% endif %}
          <button class="btn btn-outline-info"><a href="{{url_for('main.new_blog')}}"><i class="fas fa-plus"></i>  New post</a></button></br><br>
    </div>
</div>
{% endblock %}