{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
<style>
    #pan{
        background-color:rgb(235, 209, 213);
    }
</style>
<div class='container-fluid'style='margin-top:5%;'>
  <div  id="pan" class="panel panel-default">
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <div>
            <div class="panel-heading"><h3><strong>{{blog.title}}</strong></h3><hr>
                <span style='font-size:small'>{{blog.user.username| capitalize}}</span> . 
                <span style='font-size:small'>{{blog.posted.strftime('%b %d, %Y')}}</span><br><br>
            </div>
            <div class="panel-body"> <p class="card-text">{{blog.content|safe}}</p>
                <div>
                  <a href="{{url_for('main.like',blog_id = blog.id)}}"><span><i class="fa fa-thumbs-up" style='color: gray;'></i></a></span>{{blog.likes.count()}}</span>&nbsp;
                  <span><a href="{{url_for('main.dislike',blog_id = blog.id)}}"><i class="fa fa-thumbs-down" style='color:gray'></i></a>{{blog.dislikes.count()}}</span>&nbsp;
                
                </div>
              </div><br>
              <div>
                {% for comment in comments %}
                <div class='panel' style='padding:10px;'>
                    <span><i>{{comment.comment}}</i></span><br>
                    <span class='small'>{{comment.posted.strftime('%b %d, %Y')}}</span> &nbsp;{% if blog.user==current_user %}
                    <a href="{{url_for('main.delete_com',comment_id = comment.id)}}"><button style='background-color: rgba(224, 188, 193, 0.925);color:black;'; class='btn danger'>Delete</button></a>
                  {% endif %}<br><br>
                </div>
                {% endfor %}
            </div>
            <div>
                {{wtf.quick_form(comment_form)}}
            </div>
            </div>
            </div></div>

           
  </div>
  </div><br><br>
{%endblock%}